/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/EmployeesController copy.php
app/Fileupload.php
app/Http/Controllers/FileuploadController.php
app/Http/Controllers/PagesController copy.php
public/js/btnClear copy.js
public/js/btnSave copy.js
public/js/btnUpdate copy.js
public/js/btnView copy.js
public/js/employees copy.js
public/js/inputFieldEffect copy.js
resources/views/showupload.blade.php
resources/views/uploadfile.blade.php
resources/views/pages/employees.blade copy.php
resources/views/subpages/documents.blade copy.php
resources/views/subpages/personal_information.blade copy.php
resources/views/subpages/work_information.blade copy.php
app/Models/Fileupload.php
database/migrations/2022_11_12_084903_create_checkboxes_table.php
app/Http/Controllers/CheckboxRadioController.php
app/Checkbox.php
resources/views/checkbox.blade.php
public/js/global/sample.js
routes/web copy.php
app/Http/Controllers/Employees_Controller.php
app/Character.php
app/Chart.php
app/Donut.php
app/DonutSales.php
app/MonthlySales.php
app/NetProfit.php
app/Sale.php
app/SalesMonthly.php
app/Technology.php
app/copies/DonutSales.php
app/Http/Controllers/CarController.php
app/Http/Controllers/CharacterController.php
app/Http/Controllers/ChartController.php
app/Http/Controllers/DonutController.php
app/Http/Controllers/DonutSalesController.php
app/Http/Controllers/SalesMonthlyController.php
app/Http/Controllers/copies/DonutController.php
database/migrations/2022_11_26_124550_create_technologies_table.php
database/migrations/2022_11_26_144526_create_sales_table.php
database/migrations/2022_11_28_084324_create_donuts_table.php
database/migrations/2022_11_28_101553_create_characters_table.php
database/migrations/2022_11_28_153826_create_net_profits_table.php
database/migrations/2022_11_28_165856_create_monthly_sales_table.php
database/migrations/2022_11_29_085056_create_donut_sales_table.php
database/migrations/2022_11_29_133722_create_sales_monthlies_table.php
database/migrations/2022_11_26_092240_create_charts_table.php
public/js/charts/charts.js
public/js/charts/donut_sales.js
public/js/charts/donut.js
public/js/charts/sales_monthly.js
resources/views/charts/barchart.blade.php
resources/views/charts/characters.blade.php
resources/views/charts/charts.blade.php
resources/views/charts/donut_sales.blade.php
resources/views/charts/donut.blade.php
resources/views/charts/monthly_sales.blade.php
resources/views/charts/piechart.blade.php
resources/views/charts/sales_monthly.blade.php
resources/views/charts/technologies.blade.php
app/Models/MultipleSave.php
app/Http/Controllers/TryController.php
resources/views/try/evaluation.blade.php
app/Models/Tr.php
app/Models/Try.php
