body{
    background-color: white;
    overflow-x: hidden;
}

.f-outline{
    position: relative;
}
.forminput{
    background-color: white;
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    border:1px solid gray;
}
.formlabel{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif !important;
    position: absolute;
    left: 0.2rem;
    top: 0.5rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
}
.forminput:focus{
    background-color: white;
    border-color: #0d1a80;
    border-width: 2px;
    box-shadow: none !important;
}
.forminput:hover{
    background-color: white;
    border-color: #0d1a80;
    border-width: 2px;
    box-shadow: none !important;
}
.forminput:focus ~ .form-label,
.forminput:not(:placeholder-shown).forminput:not(:focus)
~.formlabel{
    top: -0.8rem;
    font-size: 0.8rem;
    left: 0.4rem;
    background-color: white;
    color: #0d1a80;
}
input:-webkit-autofill,
input:-webkit-autofill:focus{
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted]{
    background-color: transparent !important;
}
input, select{
    color: black;
    border-color: black;
    outline: none;
}
/* For buttons */
.bp{
    font-weight: bold;
    background-color: #0d1a80;
    border-color: #0d1a80;
    color: white !important;
    padding-top: 8px;
}

.bp:hover{
    transition: 0.1s;
}

a{
    text-decoration: none;
}

.close{
    zoom: 120%;
    color: white !important;
    opacity: 100%;
}

/* Scroll Bar Design */
html {
    scrollbar-width: thin ;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-thumb {
    background-color: #0d1a80;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #0d1a80;
}
html::-webkit-scrollbar-track {
    background-color: #5555;
}
html::-webkit-scrollbar-track:hover {
    background-color: #555;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Digital 201 File text */
.digital-file-201{
    display: inline;
    padding:0;
    margin: 10§;
    font-size: 25px;
    font-weight: bolder;
    color:#0d1a80;
}

/* Navbar */
.nav-link{
    color:white;
}
.nav-link:hover{
    background-color: white;
    color:#0d1a80;
    transition: 0.2s;
    border-radius: 5px;
}
.space{
    margin-right: 10px;
}
.active{
    background-color: white;
    color:#0d1a80 !important;
    border-radius: 5px;
} 
.logout-text{
    color:black !important;
}
/* Nav Pill Design */
.pill{
    color:#0d1a80 !important;
    font-weight: bold !important;
    border:solid !important;
    border-width: thin !important;
    font-size: 14px !important;
    padding: 12px !important;
}
.tabactive{
    background-color:#0d1a80 !important;
    color:white !important;
}

/* Table Design */
.thead-educational{
    background-color:#0d1a80;
    color:white !important;
    font-weight: bold !important;
}
tr{
    cursor: pointer;
    border-color:black;
}
thead{
    font-size: 16px;
    /* font-weight: bold !important; */
    font-weight:600;
}
td{
    font-size: 16px; 
}

strong{
    color:black !important;
} 

/* Validation Design */
.validation{
    display:none;
    background-color: #dc3545;
    color:white;
    margin-top: 13px;
    margin-bottom: -2px;
    border-radius: 5px;
    padding: 5px;
    position:relative;
    cursor:not-allowed;
    font-size: 15px;
}
.validation:before{
    position: absolute;
    content:'';
    height: 15px;
    width: 15px;
    background-color: #dc3545;
    top:-6px;
    transform: rotate(45deg);
    border-bottom-right-radius: 20px;
}

.hr-design {
    border:2px solid black;
}

/* To have disable cursor if the button is in disabled form */
.btnDisabled[disabled]{
    cursor: not-allowed;
    pointer-events:auto;
}
.btnActionDisabled[disabled]{
    cursor: not-allowed;
    pointer-events:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select,
input[type="date"],
input[type="month"]
{
    cursor: pointer;
}

/* Documents Tab */
.file_title{
    padding-top: 15px;
}

input[type=search]:focus{
    border:2px solid #0d1a80;
}

.requiredInput{
    border:1.5px solid red !important;
}

.hiddenFile,
.hiddenDocumentPreview{
    display:none;
}

#resignation_view,
#termination_view{
    margin-left: 7%;
}

/* Data Tables in multiple row*/
#solo_parent_data_table,
#college_data_table,
#training_data_table,
#vocational_data_table,
#job_data_table,
#memo_data_table,
#evaluation_data_table,
#contracts_data_table,
#job_description_data_table{
    display: none;
    margin-top: -17px;
}

.table-title{
    font-size:16px;
    background-color:#0d1a80;
    color:white !important;
    padding: 10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-bottom: -1px;
    border-top: 1px solid black;
    width: 230px !important;
}

.column1 {
    float: left;
    width: 20%;
    height: 250px;
    border:1px solid gray;
    margin-left: 1%;
}
.column2{
    float: left;
    width: 79%;
}

.summary_container{
    width: 816px;
    margin: auto;
}

.column_one{
    float: left;
    width: 75%;
    padding: 5px;
}
.column_two{
    float: left;
    width: 25%;
    padding: 5px;
}

.clear_float:after {
    content: "";
    display: table;
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#image_preview_summary{
    height: 190px;
    width: 190px;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

#image_preview{
    /* height: 240px;
    width: 276px;
    margin-left: -12px; */
    height: 210px;
    width:100%;
    cursor:pointer;
    display: none;
}


#donut_image_preview{
    height: 100px;
    width: 100px;
    cursor:pointer;
    display:none;
}

#preview_file{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .image_icon{
    position: absolute;
    zoom: 150%;
    margin-left: 26%;
} */

.document_first_table{
    float: left;
    width:50%;
    padding: 5px;
}
.document_second_table{
    float: left;
    width:50%;
    padding: 5px;
}

.document_table_clear:after {
    content: "";
    display: table;
    clear: both;
  }

.text-default{
    color:#0d1a80 !important;
}

.separated{
    border-color:#0d1a80;
}

.customFile{
    border:none;
    border-radius: 5px;
    padding: 2px;
}
.customFile::-webkit-file-upload-button{
    background:#0d1a80;
    color: #fff;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;
}

.customFile_documents{
    border:none;
    border-radius: 5px;
}
.customFile_documents::-webkit-file-upload-button{
    background:#0d1a80;
    color: #fff;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;
}

.pie-chart{
    width:800px;
    height:800x;
    margin:0 auto;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
  }
  
  .custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
  }
  
  .custom-file-button input[type=file]::file-selector-button {
    display: none;
  }
  
  .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
  }

.input-group-text{
    background-color: #0d1a80 !important;
    border-color: #0d1a80;
    font-weight: bold;
}
/* .input-group-text:hover{
    background-color: #0275d8 !important;
    transition: 0.1s;
} */

.input-file-text{
    border-color: #0d1a80;
}

.form_file{
    border-color: #0d1a80;
}

.form_file::-webkit-file-upload-button{
    background-color: #0d1a80 !important;
    color:white !important;
    font-weight: bold;
    border-color: #0d1a80;
}

tbody tr:nth-child(even),
.even{
    background-color: #e5e5e5 !important;
    }

tbody tr:nth-child(odd),
.odd{
    background-color: #ffffff !important;
}

#loading{
    color: #0d1a80 !important;
    line-height: 35vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.85);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    user-select: none;
    cursor: wait;
}

.btnExport{
    font-weight: bold;
    display: none;
    margin-right: 10px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
    user-select: none;
}
.switch input{
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: #2ab934;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
}
.on{
    display: none;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 40%;
    font-size: 13px;
    font-weight: bold;
}
.off{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    font-size: 15px;
    font-weight: bold;
}
input:checked + .slider .on{
    display: block;
}
input:checked + .slider .off{
    display: none;
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}

.card{
    border-color: #0d1a80;
    border-radius: 0px;
}
.card-header{
    background-color: #0d1a80;
    border-color: #0d1a80;
    border-radius: 0px !important;
    color: white;
    font-weight: bold;
    text-align: center;
}

h5{
    font-weight: bold;
}

.dashbox:hover{
    background-color: white !important;
    color:#0d1a80 !important;
    border:1px solid #0d1a80;
    transition: 0.2s;
}

th{
    text-align: center !important;
}

@media print {
    .page-break { 
        page-break-after: always; 
    }
}

@media print {
    .print-only {
      display: none;
    }
}

#see_more{
    border-radius: 10px !important;
    background-color: #0d1a80 !important;
    color: white !important;
}

#see_less{
    border-radius: 10px !important;
    background-color: #0d1a80 !important;
    color: white !important;
}

#see_more:hover,
#see_less:hover{
    background-color: #152aca !important;
    transition: 0.9s;
}

.cropper-crop {
    pointer-events: none;
}

.cropper-bg{
    margin-top: -10px;
}

.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image_crop_settings button {
    margin-right: 10px;
}