body{
    background-color: white;
    overflow-x: hidden;
}
/* For Input */
.f-outline{
    position: relative;
}
.forminput{
    background-color: white;
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    border:1px solid gray;
}
.formlabel{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif !important;
    position: absolute;
    left: 0.2rem;
    top: 0.5rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
}
.forminput:focus{
    background-color: white;
    border-color: #0d1a80;
    border-width: 2px;
    box-shadow: none !important;
}
.forminput:hover{
    background-color: white;
    border-color: #0d1a80;
    border-width: 2px;
    box-shadow: none !important;
}
.forminput:focus ~ .form-label,
.forminput:not(:placeholder-shown).forminput:not(:focus)
~.formlabel{
    top: -0.8rem;
    font-size: 0.8rem;
    left: 0.4rem;
    background-color: white;
    color: #0d1a80;
}
input:-webkit-autofill,
input:-webkit-autofill:focus{
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted]{
    background-color: transparent !important;
}
input, select{
    color: black;
    border-color: black;
    outline: none;
}

.bp{
    font-weight: bold;
    background-color: #0d1a80;
    border-color: #0d1a80;
    color: white !important;
    padding-top: 8px;
}
.bp:hover{
    transition: 0.1s;
}

.close{
    zoom: 80%;
    color: white;
    opacity: 100%;
}
/* Scroll Bar Design */
html {
    scrollbar-width: thin ;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-thumb {
    background-color: #0d1a80;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #0d1a80;
}
html::-webkit-scrollbar-track {
    background-color: #5555;
}
html::-webkit-scrollbar-track:hover {
    background-color: #555;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.digital-file-201{
    display: inline;
    padding:0;
    margin: 10§;
    font-size: 25px;
    font-weight: bolder;
    color:#0d1a80;
}

/* Navbar */
.nav-link{
    color:white;
}
.nav-link:hover{
    background-color: white;
    color:#0d1a80;
    transition: 0.2s;
    border-radius: 5px;
}
.active{
    background-color: white;
    color:#0d1a80 !important;
    border-radius: 5px;
} 
.logout-text{
    color:black !important;
}

.pill{
    color:#0d1a80 !important;
    font-weight: bolder;
    border:solid !important;
    border-width: thin !important;
    font-size: 14px;
    padding-right: 22px;
}
.tabactive{
    background-color:#0d1a80 !important;
    color:white !important;
}

.thead-educational{
    background-color:#0d1a80;
    color:white !important;
}
tr{
    cursor: pointer;
    border-color:black;
}

.grow {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.grow:hover {
    transform: scale(1.1);
}
a{
    text-decoration: none;
}

strong{
    color:black !important;
} 

/* Sweet Alert */
.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
    margin-right: auto;
}

.validation{
    display:none;
    background-color: #dc3545;
    color:white;
    margin-top: 13px;
    margin-bottom: -2px;
    border-radius: 5px;
    padding: 5px;
    position:relative;
    cursor:not-allowed;
    font-size: 15px;
}
.validation:before{
    position: absolute;
    content:'';
    height: 15px;
    width: 15px;
    background-color: #dc3545;
    top:-7px;
    transform: rotate(45deg);
    border-bottom-right-radius: 20px;
}

.hr-design {
    border:2px solid black;
}

.btnDisable[disabled]{
    cursor: not-allowed;
    pointer-events:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

select,
#birthday,
#child_birthday,
#date_hired{
    cursor: pointer;
}

.title_file{
    padding-top: 8px;
}

input[type=search]:focus{
    border:2px solid #0d1a80;
}

.requiredInput{
    border:1.5px solid red;
}
.blue{
    border:1.5px solid #0d1a80;
}



