#birthcertificate_preview,
#nbi_preview,
#barangay_clearance_preview,
#police_clearance_preview,
#sss_preview,
#philhealth_preview,
#pag_ibig_preview{
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#birthcertificate_view[disabled],
#birthcertificate_replace[disabled],
#nbi_view[disabled],
#nbi_replace[disabled],
#barangay_clearance_view[disabled],
#barangay_clearance_replace[disabled],
#police_clearance_view[disabled],
#police_clearance_replace[disabled],
#sss_view[disbaled],
#sss_replace[disabled],
#philhealth_view[disabled],
#philhealth_replace[disabled],
#pag_ibig_view[disabled],
#pag_ibig_replace[disabled]{
    cursor: not-allowed;
    pointer-events:auto;
}